body {
	background: #fefefe;
	color: #333;
}

.navigationHeader {
	color: #1460aa;
}

.header__title {
	color: dimgray;
	margin-bottom: 48px;
}

.sectionHeader {
	color: #1460aa;
}

.diary__header {
	color: #0496FF;
}

.paragraph {
	color: black;
}

.footer {
	color: black;
}

.link {
	color: #1A936F;
}

.main {
	width: 100%;
	max-width: 700px;
	margin: 32px auto;
	padding-top: 50px;
}

.paragraph {
	padding: 5px 5px 10px 10px;
	border: 3px solid #0496FF;
	margin: 5px 5px 10px 10px;
}

.about__box {
	width: 100px;
	height: 100px;
	background: yellowgreen;
	padding: 10px;
	border: 10px solid red;
	margin: 10px;
	box-sizing: border-box;
}

.day {
	padding: 16px;
}

.day__header {
	margin: 0 0 16px;
	color: #0496FF;
	font-size: 20px;
}

.day__link {
	color: #1A936F;
}

.day__paragraph {
	line-height: 24px;
	padding: 0;
	margin: 0;
}