body {
	background: #fefefe;
	color: #333;
}

.navigationHeader {
	color: #1460aa;
}

.mainHeader {
	color: dimgray;
}

.sectionHeader {
	color: #1460aa;
}

.diaryHeader {
	color: #0496FF;
}

.paragraph {
	color: black;
}

.footer {
	color: black;
}

.link {
	color: #1A936F;
}